.h1 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 94.6364px;
  line-height: 91px;
  color: $white-color;
}

.text-red {
  color: $red-color;
}

.text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 141.2%;
  color: $white-color;
}